<div *ngIf="!isFetching && !isError" class="myTable">

  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Your activity hours</h2>
      <div style="font-size: large">
        <span style="color: #3f51b5">Worked Hours </span>
        <span>{{workedHours}}/{{totalHours}}</span>
        <span style="color: #3f51b5"> Total Hours</span>
        <br>
        <span style="color: #d63384">Extra hours: </span>
        <span>{{extraHours}}</span>
      </div>
    </div>
  </div>

  <h2>This are your current delegated activities:</h2>

  <table fxFill mat-table [dataSource]="datasource">
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element; let i= index"> {{i + 1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isFetching && !isError">
  <mat-spinner style="align-content: center"></mat-spinner>
</div>

<div fxFlexFill fxLayout="column" fxLayoutAlign="center center" *ngIf="isError">
  <p style="font-size: 30px">Some error occurred!</p>
</div>
