<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav [mode]="sidenavMode" opened class=".mysidenav">
    <mat-nav-list class="my-list">
      <img alt="company logo" fxLayoutAlign="center center"
           src="https://seeklogo.com/images/B/business-company-logo-C561B48365-seeklogo.com.png">
      <a routerLink="/calendar">
        <mat-list-item class="my-list" [ngClass]="selected=='h'?'selected':''" (click)="selected='h'">
          <button disabled mat-button color="primary">
            <mat-icon color="primary">home</mat-icon>
          </button>
          <span>Home</span>
        </mat-list-item>
      </a>
      <a routerLink="/dashboard" >
        <mat-list-item [ngClass]="selected=='d'?'selected':''" (click)="selected='d'">
          <button disabled mat-button color="primary">
            <mat-icon color="primary">dashboard</mat-icon>
          </button>
          <span>Dashboard</span>
        </mat-list-item>
      </a>
      <a *ngIf="user.role=='admin'" routerLink="/activities">
        <mat-list-item (click)="selected='a'" [ngClass]="selected=='a'?'selected':''">
          <button disabled mat-button color="primary">
            <mat-icon color="primary">local_activity</mat-icon>
          </button>
          <span>Manage activities</span>
        </mat-list-item>
      </a>
      <a *ngIf="user.role=='admin'" routerLink="/employees">
        <mat-list-item (click)="selected='e'" [ngClass]="selected=='e'?'selected':''">
          <button disabled mat-button color="primary">
            <mat-icon color="primary">perm_identity</mat-icon>
          </button>
          <span>Manage Employees</span>
        </mat-list-item>
      </a>
      <a *ngIf="user.role=='admin'" routerLink="/reports">
        <mat-list-item (click)="selected='r'" [ngClass]="selected=='r'?'selected':''">
          <button disabled mat-button color="primary">
            <mat-icon color="primary">library_books</mat-icon>
          </button>
          <span>Reports</span>
        </mat-list-item>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="margin-bottom: 15px">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Worksheet</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
