<div class="main-div" fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="login-modal" fxLayout="column">
    <mat-card-title>Login</mat-card-title>
    <img alt="company logo" fxLayoutAlign="center center"
         src="https://seeklogo.com/images/B/business-company-logo-C561B48365-seeklogo.com.png">
    <p>Welcome</p>
    <form fxLayout="column">
      <mat-form-field>
        <mat-label>User Name</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput="password">
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
      <button mat-raised-button color="primary">Sing up</button>
      <button mat-button>Forgot password?</button>
    </form>
  </mat-card>
</div>
